NEXT_PUBLIC_SUI_NETWORK=mainnet
NEXT_PUBLIC_SUI_RPC_URL=https://fullnode.mainnet.sui.io:443
NEXT_PUBLIC_SUI_GRAPHQL_URL=
NEXT_PUBLIC_SUI_PACKAGE_ID=0xd141d239b780e2cdddf74a82266ee983d9ef500655c59b72446af1426a10b0aa
NEXT_PUBLIC_SUI_COLLECTION_ID=0xddcd5a0692ecabadfd3f4c405fd9897b4bc5887401335893512327660941190b
NEXT_PUBLIC_MONAD_RPC_URL=https://rpc.monad.xyz
NEXT_PUBLIC_MONAD_CHAIN_ID=143
NEXT_PUBLIC_MONAD_CLAIM_CONTRACT=
NEXT_PUBLIC_MONAD_RECEIPT_CONTRACT=0x6da58b24567ab1f520f52bb55e7769b01e9e2c6d
NEXT_PUBLIC_MONAD_PROOF_MODE=signature
MONAD_PRIVATE_KEY=
NEXT_PUBLIC_IKA_NETWORK=mainnet
NEXT_PUBLIC_IKA_COIN_OBJECT_ID=0x90d5447ab7438e817d6e6ab69b7cf963505e723734d89c3decb73ed20c3119fc
NEXT_PUBLIC_IKA_SUI_FEE_MIST=10000000
NEXT_PUBLIC_IKA_DWALLET_ID=0xf5b503f85f903c5c2114549cb001eb1736836323af1b6dcfae3eec6674565671
NEXT_PUBLIC_IKA_DWALLET_CAP_ID=0x6be7312ccca926c6cfe77ec12de3297a7f70ca9f456b3ca8c305fa657c18a49b
NEXT_PUBLIC_IKA_DWALLET_EVM_ADDRESS=0x904ECdBA6F996789e1BA8Ef17b4B9fE622Ab764D
NEXT_PUBLIC_IKA_PRESIGN_ID=0xa2ab1a4d466250b3db355cc7eebf91c86e11372b8aa0800e402c73fc35cb5f01
NEXT_PUBLIC_IKA_UNVERIFIED_PRESIGN_CAP_ID=0x8dea7e1aa8adf9b447815c63879ee2b23212fa253613bec209831d7e86c4660b
NEXT_PUBLIC_IKA_SIGN_TIMEOUT_MS=90000
IKA_SUI_PRIVATE_KEY=
IKA_COIN_ID=
IKA_SUI_COIN_ID=
IKA_GAS_COIN_ID=
IKA_NETWORK=mainnet
IKA_SUI_RPC=https://fullnode.mainnet.sui.io:443
SUI_RPC_URL=https://fullnode.mainnet.sui.io:443
SUI_GRAPHQL_URL=
IKA_DWALLET_ID=
IKA_DWALLET_CAP_ID=
IKA_ETH_ADDRESS=
IKA_PRESIGN_ID=
IKA_UNVERIFIED_PRESIGN_CAP_ID=
IKA_ENCRYPTED_USER_SECRET_KEY_SHARE_ID=
NEXT_PUBLIC_APP_URL=https://useink.xyz
NEXT_PUBLIC_COLLECTION_SUPPLY=250
NEXT_PUBLIC_MINT_PRICE=1.5
NEXT_PUBLIC_MINT_PRICE_MIST=1500000000
NFT_STORAGE_TOKEN=
PINATA_JWT=

IKA_USER_SHARE_ENCRYPTION_KEYS_B64=
